<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sensor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sensor.description %>
</p>

<p>
  <strong>Eui device:</strong>
  <%= @sensor.EUI_device %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
