<p id="notice"><%= notice %></p>

<div id='map' data-sensor-id='<%= @sensor.id %>'></div>

<p>
  <strong>Name:</strong>
  <%= @sensor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sensor.description %>
</p>

<p>
  <strong>Eui device:</strong>
  <%= @sensor.dev_eui %>
</p>

<div class="">
  <!-- <%= @sensor.data.inspect %> -->
  <%= @sensor.show_since.count %>
</div>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
